In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
csv_file = './postings.csv'
df = pd.read_csv(csv_file)

print(df.head())

print(df.columns)

print(df.info())

print(df.describe())

print(df.shape)

                                           job_title            company  \
0                               C# Software Engineer       E Tech Group
1                   Software Implementation Engineer             Kardex
2  Senior Software Engineer, Back End (Go, AWS, J...  Jobs for Humanity
3   Senior Manager, Software Engineering, Full Stack  Jobs for Humanity
4  Lead Software Engineer, Full Stack(JavaScript/...  Jobs for Humanity

       job_location                                           job_link  \
0  West Chester, OH  https://www.linkedin.com/jobs/view/c%23-softwa...
1    Cincinnati, OH  https://www.linkedin.com/jobs/view/software-im...
2   Chattanooga, TN  https://www.linkedin.com/jobs/view/senior-soft...
3   Chattanooga, TN  https://www.linkedin.com/jobs/view/senior-mana...
4   Chattanooga, TN  https://www.linkedin.com/jobs/view/lead-softwa...

   first_seen  search_city search_country   job level job_type  \
0  2023-12-25    Covington  United States   Associate   Remote
1  2023-12-25    Covington  United States   Associate   Remote
2  2023-12-25  Chattanooga  United States  Mid senior   Onsite
3  2023-12-25  Chattanooga  United States  Mid senior   Onsite
4  2023-12-25  Chattanooga  United States  Mid senior   Onsite

                                         job_summary  \
0  At E Tech Group, joining our team means joinin...
1  Kardex Remstar is looking for a\nSoftware Impl...
2  Company Description\nJobs for Humanity is part...
3  Company Description\nJobs for Humanity is part...
4  Company Description\nJobs for Humanity is part...

                                          job_skills
0  C#, .NET, WPF, ASP.NET MVC, WebAPI, C++, Progr...
1  Software Implementation, Software Testing, Sof...
2  Java, Python, SQL, Node.js, Go, Scala, AWS, GC...
3  JavaScript, Java, TypeScript, SQL, Python, Go,...
4  JavaScript, Java, AWS, Vue.js, HTML/CSS, TypeS...
Index(['job_title', 'company', 'job_location', 'job_link', 'first_seen',
       'search_city', 'search_country', 'job level', 'job_type', 'job_summary',
       'job_skills'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9380 entries, 0 to 9379
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       9380 non-null   object
 1   company         9380 non-null   object
 2   job_location    9380 non-null   object
 3   job_link        9380 non-null   object
 4   first_seen      9380 non-null   object
 5   search_city     9380 non-null   object
 6   search_country  9380 non-null   object
 7   job level       9380 non-null   object
 8   job_type        9380 non-null   object
 9   job_summary     9376 non-null   object
 10  job_skills      9367 non-null   object
dtypes: object(11)
memory usage: 806.2+ KB
None
                       job_title            company       job_location  \
count                       9380               9380               9380
unique                      3870               3373               1618
top     Senior Software Engineer  Jobs for Humanity  San Francisco, CA
freq                         794                681                133

                                                 job_link  first_seen  \
count                                                9380        9380
unique                                               9380           1
top     https://www.linkedin.com/jobs/view/c%23-softwa...  2023-12-25
freq                                                    1        9380

       search_city search_country   job level job_type  \
count         9380           9380        9380     9380
unique         709              4           2        3
top         Novato  United States  Mid senior   Onsite
freq            92           7335        8101     4316

                                              job_summary  \
count                                                9376
unique                                               7763
top     For more than 50 years, NISC has worked to dev...
freq                                                   62

                                               job_skills
count                                                9367
unique                                               9340
top     Java, Python, SQL, Node, Go, Scala, AWS, GCP, ...
freq                                                    3
(9380, 11)

In [ ]:
# load connection string from env file
import os
import dotenv

# load env file
dotenv.load_dotenv()

# Connect to MongoDB
client = MongoClient(os.getenv('MONGODB_URI'))

print(client.list_database_names())

In [6]:
# Database and collection
db = client['job_postings_db']  # Create/use database
collection = db['linkedin_jobs']  # Create/use collection

In [7]:
# convert DataFrame to list of dictionaries
df_list = df.to_dict(orient='records')

# insert list of dictionaries into MongoDB
collection.insert_many(df_list)

# print number of documents in collection
print(collection.count_documents({}))

9380

In [8]:
client.close()